*{
    color:rgb(255,255,255)
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    

}
#div1{
    background-color: rgb(71, 101, 103);
    margin-top: 100px;
    height: 500px;
    width: 300px;
}
.btn1{
    margin-top: 180px;
    border-radius: 155px;
    height:30px;
    width:100px ;
    color: blue;
    margin-left: 20px;
}
#div2{
background:rgb(24, 23, 20);
margin-top: 100px;
    height: 500px;
    width: 300px;
}
p{
    margin:10px;
    margin-left: 20px;
}
h1{
    margin-bottom: 80px;
    margin-top: 50px;
    margin-left: 20px;
}
#div3{
    background:rgb(205, 144, 31);
margin-top: 100px;
    height: 500px;
    width: 300px;
}
.btn2{
    margin-top: 150px;
        border-radius: 15px;
        height: 30px;
        width: 100px;
        color:blue;
        margin-left: 20px;
}
.btn3{
    margin-top: 180px;
        border-radius: 15px;
        height: 30px;
        width: 100px;
    color: blue;
    margin-left: 20px;
}